<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="usuarios" connectionString="metadata=res://*/usuarios.Model.csdl|res://*/usuarios.Model.ssdl|res://*/usuarios.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IHB3PF3\SQLEXPRESS2014;initial catalog=RedProfesional;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>